﻿/* --------------------------------------------------------- Global --------------------------------------------------------- */
html  {
	height: 100%;
}
html, body  {
	/*font-family: 'PT Serif', serif;*/
	font-family: 'Lato', sans-serif;
	background: #fff;
	font-size: 18px;
	color: #000;
}
@media(min-width:767px){
	body  {
		padding-top: 180px;
	}
	body.home  {
		padding-top: 0px;
		height: 100%;
	}
	body.page-template-kontakt {
		padding-top: 0px;
	}
}
h1{
	font-size: 30px;
	font-weight: 900;
	margin: 10px 0;
}
@media(max-width:767px){
	h1{
		font-size: 20px;
		font-weight: 900;
		margin: 10px 0;
	}
}

h2{
	font-size: 26px;
	font-weight: 400;
	margin: 20px 0;
	text-transform: uppercase;
}

h3{
	font-size: 22px;
	font-weight: 400;
	margin: 20px 0;
	text-transform: uppercase;
}
a {
	color: #FFF;
	transition-duration: 0.5s;
	text-decoration:none;
}
a:hover,
a:focus{
	color: #FFF;
	text-decoration: none;
}
.center {
	text-align: center;
}
.center-div{
	display: flex;
    text-align: center;
    justify-content: center;
} 
.col-lr-0 {
	padding-right: 0px;
    padding-left: 0px;
}
@media(max-width:767px){
	.container.col-lr-0 {
		padding-right: 15px;
		padding-left: 15px;
	}
}
.p-lr-15{
	padding-right: 15px;
    padding-left: 15px;
}
.col-lr-auto{
		padding: 0px;
	}
@media(max-width:767px){
	.col-lr-auto{
		padding: 0px 15px;
	}
}
.col-l-0{
    padding-left: 0px;
}
.col-r-0{
	padding-right: 0px;
}
@media (max-width: 768px) {
  .col-l-0,
  .col-r-0 {
	padding-left: 0;
	padding-right: 0;
  }
  .row {
	margin-left: 0;
	margin-right: 0;
  }
  .col-l-0.container,
  .col-r-0.container,
  .col-lr-0.container {
	padding-left: 15px;
	padding-right: 15px;
  }
}
.p-b-20{
	padding-bottom:20px;
}
.p-t-60{
	padding-top:60px;
}
.m-t-b-20{
	margin: 20px 0px;
}
.m-b-20{
	margin-bottom:20px;
}
.vertical {
    width: 100%;
    height: 100%;
    text-align: center;
}
.vertical:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.vertical-text {
    display: inline-block;
    vertical-align: middle;
}

.white-background {
	background-color:#fff;
	padding: 30px;
	-webkit-box-shadow: 1px 1px 20px 3px #BABABA;
	box-shadow: 1px 1px 20px 3px #BABABA;
}

/* --------------------------------------------------------- Wyrównanywanie rekordów --------------------------------------------------------- */
.row.table-row > [class*="col-"].custom {
	background-color: lightgrey;
	text-align: center;
}
@media (max-width: 768px) {
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}
}
@media (min-width: 768px) {
	img.img-fluid {width:100%;}
	.row.table-row-xs-new {display:table;table-layout: fixed;width:100%;margin:0 auto;}
	.row.table-row-xs-new > .partners-witdh {
		float:none;
		display:table-cell;
		vertical-align:middle;
	}
}
@media (min-width: 1px) {
	img.img-fluid {width:100%;}
	.row.table-row {display:table;table-layout: fixed;width:100%;margin:0 auto;}
	.row.table-row > [class*="col-"] {
		float:none;
		display:table-cell;
		vertical-align:top;
	}
}
@media (min-width: 768px) {
	img.img-fluid {width:100%;}
	.row.table-row-xs {display:table;table-layout: fixed;width:100%;margin:0 auto;}
	.row.table-row-xs > [class*="col-"] {
		float:none;
		display:table-cell;
		vertical-align:top;
	}
}
@media (min-width: 991px) {
	img.img-fluid {width:100%;}
	.row.table-row-sm  {display:table;table-layout: fixed;width:100%;margin:0 auto;}
	.row.table-row-sm  > [class*="col-"] {
		float:none;
		display:table-cell;
		vertical-align:top;
	}
}
@media (min-width: 992px) {
	.caption-over-block-992 {
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
	}
	.caption-over-outer-992 {
		display: table;
		height: 100%;
		opacity: 1;
		position: absolute;
		top: 0;
		padding: 0;
		width: 100%;
		z-index: 2;
	}
	.caption-over-inner-992 {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		width: 100%;
	}
}
@media (min-width: 768px) {
	.caption-over-block {
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
	}
	.caption-over-outer {
		display: table;
		height: 100%;
		opacity: 1;
		position: absolute;
		top: 0;
		padding: 0;
		width: 100%;
		z-index: 2;
	}
	.caption-over-inner {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		width: 100%;
	}
}
.caption-over-outer-all {
	display: table;
	height: 100%;
	opacity: 1;
	position: absolute;
	top: 0;
	padding: 0;
	width: 100%;
	z-index: 2;
}
.caption-over-inner-all {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	width: 100%;
}

/* --------------------------------------------------------- Menu ---------------------------------------------------------*/

.navbar-default {
    background-color: transparent;
    border-color: transparent;
	-webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
	z-index: 99992;
}
.navbar-default {
	border-bottom: 0px solid rgba(255,255,255,0.4);
	background: #2e2e2e;
}
.home .navbar-default {
	border-bottom: 1px solid rgba(255,255,255,0.4);
	background: transparent;
}
.navbar-nav {
	text-align: center;
	width: 100%;
}
@media (min-width: 768px) {
	.menu li {
		display: inline-block;
		*display:inline; /*IE7*/
		*zoom:1; /*IE7*/
		float: none;
		font-size: 18px;
		text-transform: uppercase;
	}
	.menu li:before {
		content: '\00a0\2022\00a0\00a0';
		color:#fff;
		color:rgba(255,255,255,1);
		font-size: 22px;
	}
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	padding: 15px 20px;
}
@media (max-width: 768px) {
	.navbar-nav {
		margin: 0px;
	}
}
@media (max-width: 992px) {
	.menu li:before {
		font-size: 20px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 15px;
	}
}
.menu li:first-child:before {
	content: '';
}
.nav > li > a {
	display: inline-block;
}
.dropdown-menu > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #FED401;
    background-color: transparent;
}
.menu-item-has-children {
	position: static !important;
}
.mega-dropdown-menu {
    padding: 0px 25%;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
@media (min-width:992px) and (max-width:1200px){
	.mega-dropdown-menu {
		padding: 0px 10%;
	}	
}
@media (max-width:991px){
	.mega-dropdown-menu {
		padding: 0px;
	}	
}
.mega-dropdown-menu li:before {
	display: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 7px 5px;
}
.mega-dropdown-menu li > a {
    padding: 10px 18px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
.dropdown-menu {
	background: #2e2e2e;
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}
.navbar-default .navbar-brand {
	color: #fff;
	height: 45px;
	padding: 14px 15px;
}
.navbar-default .navbar-brand:hover{
	color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-toggle {
    padding: 7px 8px;
	border-radius: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #333;
}
/* Error 404 */

.error {
	background-color: transparent;
	margin: 0 auto;
	padding: 5% 0% 10%;
	font-size: 40px;
	text-align: center;
	color:#000;
	z-index:1005;
}
.error .error-404 {
	font-size: 60px;
	font-weight:bold;
	margin: 2% 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent!important; 
}
@media (max-width:768px){
	.navbar-header,
	.navbar-collapse {
		background: rgba(46,46,46,1);
	}	
	.home .navbar-default {
		border: 0px solid transparent!important; 
	}
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 transparent;
  box-shadow: inset 0 1px 0 transparent;
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 100%;
}

.dropdown-backdrop {
    display:none;
}

/* --------------------------------------------------------- Slider ------------------------------------------------------------ */

.carousel,
.item,
.active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}
.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	font-size: 50px;
	height: 25px;
	margin-top: -75px;
	width: 50px;
}
@media(max-width:767px){
	.fill {
		width: 100%;
		height: 400px;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}

	.carousel {
		height: 50%;
		margin-top: 60px;
	}
}
.trail {
	background-position: center center;
    background-size: cover;
    height: 21px;
    top: -20px;
    width: 100%;
    z-index: 10000;
}
.carousel-caption .slider-box {
	padding-left:10px;
	font-size:26px;
	color: #fed401;
	text-align:center;
	letter-spacing: 10px;
	line-height: 1.2;
}
.carousel-caption {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
}
.slider-box strong{
	font-size:40px;
}
@media(max-width: 767px){
	.carousel-caption .slider-box {
		font-size:18px;
	}
	.slider-box strong{
		font-size:34px;
	}
}
.standard-box-text-line {
    border-top: 15px solid #ffc066;
    width: 100px;
	margin: 0px auto 15px;
}

@media(max-width: 767px){
	.standard-box-text-line {
		border-top: 5px solid #ffc066;
		margin-bottom: 5px;
		width: 30px;
	}
}
.carousel-indicators li {
	border-radius: 10px;
	border: 1px solid #fff;
	margin: 0px;
	width: 15px;
	height: 15px;
}
.carousel-indicators .active {
	width: 15px;
	height: 15px;
}
.carousel-control {
	top: 130px;
	display: block;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
    margin-top: -25px;
}
.space-between {
	justify-content: space-between;
	padding: 0;
	margin: 0; 
	list-style: none; 
	display: flex;
}
@media (max-width:768px){
	.space-between,
	.space-between li {
		text-align: center;
		padding: 5px;
		display: block;
	}	
}
.mini-header-contact {
	padding: 5px;
	color: #fff;
	font-size: 14px;
}
.mini-header-contact .fa {
	font-size: 18px;
	vertical-align: -1px;
}
.mini-header-contact .fa-envelope {
	font-size: 16px;
}
/*---------------------------------------------------------- Grid system -----------------------------------------------*/


.h-content {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.h, .h-xs-1, .h-sm-1, .h-md-1, .h-lg-1, .h-xs-2, .h-sm-2, .h-md-2, .h-lg-2, .h-xs-3, .h-sm-3, .h-md-3, .h-lg-3, .h-xs-4, .h-sm-4, .h-md-4, .h-lg-4, .h-xs-5, .h-sm-5, .h-md-5, .h-lg-5, .h-xs-6, .h-sm-6, .h-md-6, .h-lg-6, .h-xs-7, .h-sm-7, .h-md-7, .h-lg-7, .h-xs-8, .h-sm-8, .h-md-8, .h-lg-8, .h-xs-9, .h-sm-9, .h-md-9, .h-lg-9, .h-xs-10, .h-sm-10, .h-md-10, .h-lg-10, .h-xs-11, .h-sm-11, .h-md-11, .h-lg-11, .h-xs-12, .h-sm-12, .h-md-12, .h-lg-12 {
  overflow: hidden;
  padding: 0;
}

.h > div, .h-xs-1 > div, .h-sm-1 > div, .h-md-1 > div, .h-lg-1 > div, .h-xs-2 > div, .h-sm-2 > div, .h-md-2 > div, .h-lg-2 > div, .h-xs-3 > div, .h-sm-3 > div, .h-md-3 > div, .h-lg-3 > div, .h-xs-4 > div, .h-sm-4 > div, .h-md-4 > div, .h-lg-4 > div, .h-xs-5 > div, .h-sm-5 > div, .h-md-5 > div, .h-lg-5 > div, .h-xs-6 > div, .h-sm-6 > div, .h-md-6 > div, .h-lg-6 > div, .h-xs-7 > div, .h-sm-7 > div, .h-md-7 > div, .h-lg-7 > div, .h-xs-8 > div, .h-sm-8 > div, .h-md-8 > div, .h-lg-8 > div, .h-xs-9 > div, .h-sm-9 > div, .h-md-9 > div, .h-lg-9 > div, .h-xs-10 > div, .h-sm-10 > div, .h-md-10 > div, .h-lg-10 > div, .h-xs-11 > div, .h-sm-11 > div, .h-md-11 > div, .h-lg-11 > div, .h-xs-12 > div, .h-sm-12 > div, .h-md-12 > div, .h-lg-12 > div {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px;
}

.col-xs-1.h, .h-xs-1 {
  padding-bottom: 8.3333333333%;
}

.col-xs-2.h, .h-xs-2 {
  padding-bottom: 16.6666666667%;
}

.col-xs-3.h, .h-xs-3 {
  padding-bottom: 25%;
}

.col-xs-4.h, .h-xs-4 {
  padding-bottom: 33.3333333333%;
}

.col-xs-5.h, .h-xs-5 {
  padding-bottom: 41.6666666667%;
}

.col-xs-6.h, .h-xs-6 {
  padding-bottom: 50%;
}

.col-xs-7.h, .h-xs-7 {
  padding-bottom: 58.3333333333%;
}

.col-xs-8.h, .h-xs-8 {
  padding-bottom: 66.6666666667%;
}

.col-xs-9.h, .h-xs-9 {
  padding-bottom: 75%;
}

.col-xs-10.h, .h-xs-10 {
  padding-bottom: 83.3333333333%;
}

.col-xs-11.h, .h-xs-11 {
  padding-bottom: 91.6666666667%;
}

.col-xs-12.h, .h-xs-12 {
  padding-bottom: 100%;
}

@media (min-width: 768px) {
  .col-sm-1.h, .h-sm-1 {
    padding-bottom: 8.3333333333%;
  }

  .col-sm-2.h, .h-sm-2 {
    padding-bottom: 16.6666666667%;
  }

  .col-sm-3.h, .h-sm-3 {
    padding-bottom: 25%;
  }

  .col-sm-4.h, .h-sm-4 {
    padding-bottom: 33.3333333333%;
  }

  .col-sm-5.h, .h-sm-5 {
    padding-bottom: 41.6666666667%;
  }

  .col-sm-6.h, .h-sm-6 {
    padding-bottom: 50%;
  }

  .col-sm-7.h, .h-sm-7 {
    padding-bottom: 58.3333333333%;
  }

  .col-sm-8.h, .h-sm-8 {
    padding-bottom: 66.6666666667%;
  }

  .col-sm-9.h, .h-sm-9 {
    padding-bottom: 75%;
  }

  .col-sm-10.h, .h-sm-10 {
    padding-bottom: 83.3333333333%;
  }

  .col-sm-11.h, .h-sm-11 {
    padding-bottom: 91.6666666667%;
  }

  .col-sm-12.h, .h-sm-12 {
    padding-bottom: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1.h, .h-md-1 {
    padding-bottom: 8.3333333333%;
  }

  .col-md-2.h, .h-md-2 {
    padding-bottom: 16.6666666667%;
  }

  .col-md-3.h, .h-md-3 {
    padding-bottom: 25%;
  }

  .col-md-4.h, .h-md-4 {
    padding-bottom: 33.3333333333%;
  }

  .col-md-5.h, .h-md-5 {
    padding-bottom: 41.6666666667%;
  }

  .col-md-6.h, .h-md-6 {
    padding-bottom: 50%;
  }

  .col-md-7.h, .h-md-7 {
    padding-bottom: 58.3333333333%;
  }

  .col-md-8.h, .h-md-8 {
    padding-bottom: 66.6666666667%;
  }

  .col-md-9.h, .h-md-9 {
    padding-bottom: 75%;
  }

  .col-md-10.h, .h-md-10 {
    padding-bottom: 83.3333333333%;
  }

  .col-md-11.h, .h-md-11 {
    padding-bottom: 91.6666666667%;
  }

  .col-md-12.h, .h-md-12 {
    padding-bottom: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1.h, .h-lg-1 {
    padding-bottom: 8.3333333333%;
  }

  .col-lg-2.h, .h-lg-2 {
    padding-bottom: 16.6666666667%;
  }

  .col-lg-3.h, .h-lg-3 {
    padding-bottom: 25%;
  }

  .col-lg-4.h, .h-lg-4 {
    padding-bottom: 33.3333333333%;
  }

  .col-lg-5.h, .h-lg-5 {
    padding-bottom: 41.6666666667%;
  }

  .col-lg-6.h, .h-lg-6 {
    padding-bottom: 50%;
  }

  .col-lg-7.h, .h-lg-7 {
    padding-bottom: 58.3333333333%;
  }

  .col-lg-8.h, .h-lg-8 {
    padding-bottom: 66.6666666667%;
  }

  .col-lg-9.h, .h-lg-9 {
    padding-bottom: 75%;
  }

  .col-lg-10.h, .h-lg-10 {
    padding-bottom: 83.3333333333%;
  }

  .col-lg-11.h, .h-lg-11 {
    padding-bottom: 91.6666666667%;
  }

  .col-lg-12.h, .h-lg-12 {
    padding-bottom: 100%;
  }
}

/* ------------------------------------------------------- Global -------------------------------------------- */

.page-title-box {
	margin: 2% 0 2%;
}
.page-title {
	text-align: center;
}
.page-title h1 {
	margin: 0px;
    font-weight: 900;
    font-size: 30px;
}

.top-banner{
	margin-top: -180px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height:420px;
	
}
.top-banner-padding{
	padding-top:180px;
}
@media (max-width: 992px) {
	.top-banner{
		margin-top: 0px;
		height: 350px;
	}
	.top-banner-padding{
		padding-top: 80px;
	}
}
.top-banner h1{
	font-size:50px;
	color:#fff;
}
@media (max-width: 992px) {
	.top-banner h1{
		font-size: 35px;
		color: #fff;
	}
}
.top-banner-twig{
	width:120px;
	height:auto;
	margin: 10px auto 0px auto;
}

.background-white {
	background: #ffffff;
}
/* ------------------------------------------------------- Strona główna -------------------------------------------- */

.image-about{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.category-box {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.category-box .caption-over-inner-all,
.category-box .caption-over-inner {
	background: rgba(0,0,0,0.6);
	transition-duration: 0.5s;
	opacity: 1;
}
.category-box:hover .caption-over-inner-all,
.category-box:hover .caption-over-inner {
	transition-duration: 0.5s;
	opacity: 0;
}
.category-box {
	border: 15px solid transparent;
}
/*
.category-box:hover{
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
*/
.mini-header-contact {
	background-color: #2e2e2e;
}
.mini-header-logo {
	background-color: #fff;
	text-align: center;
}
.mini-header-logo img {
	padding: 12px 0;
	margin: 0px auto;
	max-height: 100px;
	display: inline-block !important;
}
.mini-header-logo .container {
	position: relative;
}
.mini-header-logo ul {
	position: absolute;
	top: 15px;
	right: 15px;
}
.mini-header-logo .cart-items{
	display: inline-block;
	font-size: 16px;
	margin-left: 10px;
	text-align: center;
	background: #149347;
	color: #fff;
	padding: 0 5px;
}
.mini-header-logo ul li{
	display: block;
}
.mini-header-logo ul a{
	color: #000;
}
@media (max-width: 768px) {
	.mini-header-logo img {
		padding: 7px 0;
		margin: 0px auto;
		max-height: 80px;
	}
}

.about-us-home {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
}
.about-us-home .twig-slider-down {
	max-height: 50px;
	margin: 0 auto 5%;
}
.page-template-onas .about-us-home {
	/* margin-top: 3%; */
	margin-top: 1%;
	margin-bottom: 0;
	text-align: center;
}
.about-us-home .about-us-home .twig-slider-down {
	max-height: 50px;
	margin: 0 auto;
}

.about-search {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 2%;
}
.about-search-title {
	margin-bottom: -30px;
}
.about-search-title h1 {
	font-weight: 900;
	font-size: 30px;
}
@media (max-width: 920px) {
	.about-search-title {
		margin-bottom: 0px;
	}
	.about-search-title h1 {
		font-size: 26px;
	}
}
@media (max-width: 768px) {
	.about-search-title {
		margin-bottom: 0px;
	}
	.about-search-title h1 {
		font-size: 20x;
	}
}


.products-home {
	background-repeat: repeat;
	background-size: 70%;
	padding: 2% 0 5% 0;
}
@media (max-width: 768px) {
	.products-home {
		padding: 70px 0 100px;
	}
}
.products-home h1 {
	font-size: 30px;
	font-weight: 900;
	padding: 0 10px;
	margin: 0 0 15px;
	color: #FFF;
}
.twig-products {
	height: 27px;
	width: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	margin: 0px auto;
}

.promo-home {
	margin-top: 3%;
	margin-bottom: 2%;
	text-align: center;
}
.twig-promo-down {
	max-height: 50px;
	margin: 3% auto 0%;
}
.twig-promo-down-products {
	max-height: 50px;
	margin: 0 auto 2%;
}
.recipes-home {
	background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 0;
}
.recipes-home ul {
	padding-left: 15px;
}
.recipes-home-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 50px;
	right: 25%;
}
@media (max-width: 768px) {
	.recipes-home-img {
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		height: 400px;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
}
@media (max-width: 450px) {
	.recipes-home-img {
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		height: 300px;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
}
.twig-title-white {
	margin-bottom: 3%;
}
.recipes-home-content {
	background: rgba(255,255,255,1);
	text-align: left;
	padding: 25px;
	margin-top: 50px;
	color: #000;
}
@media (max-width:767px){
	.recipes-home-content {
		margin-top: 0px;
	}
}
.recipes-home-title {
	text-align:center;
	font-weight: 900;
	font-size: 30px;
	color: #fff;
	margin-bottom: -30px;
}
@media (max-width: 920px) {
	.recipes-home-title {
		font-size: 26px;
		margin-bottom: 0px;
	}
}
@media (max-width: 768px) {
	.recipes-home-title {
		font-size: 20px;
		margin-bottom: 0px;
	}
}
.btn-default {
    border-radius: 0px;
	padding: 10px;
	width: 100%;
}

/* ------------------------------------------------------- Footer -------------------------------------------- */

.tomatoes-footer {
	z-index: 10001;
	margin-top: -80px;
}
.tomatoes-footer img {
	margin: -10px auto 0;
}
.footer-contact,
.footer-contact a {
	color: #000;
}
.footer-contact li {
	list-style-type: none;
	color: #000;
}
.mini-footer-logo {
	padding-top: 30px;
}
.home .mini-footer-logo {
	padding-top: 0px;
}
.footer-contact {
	padding-bottom: 10px;
}
.twig-adress {
	height: 37px !important;
	margin-bottom: 10px;
}
.footer-box {
	font-size: 16px;
	background: #2E2E2E;
	color: #fff;
}
.copyright-footer {
	padding: 10px 0;
}
.realization-footer {
	padding: 10px 0;
	text-align: right;
}
.realization-footer img {
	height: 25px !important;
}
@media (max-width: 768px) {
	.footer-contact div:nth-child(2) {
		margin-bottom: 15px;
	}
	.footer-box,
	.realization-footer	{
		text-align: center;
	}
}
/* ------------------------------------------------------- Cookies -------------------------------------------- */

#cookiesBar br {
    display: flex !important;
}
@media (max-width: 1200px) {
	#cookiesBar br {
		display: none !important;
	}
}
.text-cookies {
    font-size: 13px;
    padding: 8px 0;
}
@media (max-width: 768px) {
	.text-cookies {
		font-size: 10px;
	}
}
#cookiesBar {
    background: #555555 none repeat scroll 0 0;
    border-top: 0 solid #fff;
    bottom: 0;
    clear: both;
    color: #fff;
    left: 0;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 2147483647;
}
#cookiesBar a {
    color: #fff;
    font-weight: bold;
}
#cookiesBar a:hover {
    color: #fff;
}
#cookiesBarWrap {
}
a#cookiesBarClose {
    color: #fff;
    float: right;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0;
    text-decoration: none;
}
@media (max-width: 768px) {
a#cookiesBarClose {
    float: none;
}
}
a#cookiesBarProduct {
    background: #555555 none repeat scroll 0 0;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 10px auto;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    width: 80%;
}
a#cookiesBarClose:hover {
    color: #fff;
    text-decoration: underline;
}
a#cookiesBarProduct:hover {
    color: #fff;
    text-decoration: underline;
}

/* ------------------------------------------------------- Przepisy -------------------------------------------- */

.przepisy-category-title {
	position: absolute;
	left: 0;
	top: 30px;
	padding: 5px 15px;
	font-size: 30px;
	color: #fff;
	border: 1px solid #fff;
	border-left: 0px solid #fff;
	text-shadow: 1px 1px 3px #ccc;
	text-transform: uppercase;
}
.przepisy-hover {
	overflow: hidden;
}
.przepisy-category-title,
.przepisy-title {
	z-index: 10;
}
.przepisy-category a {
	color: #000;
}
.przepisy-category a:hover,
.przepisy-active .active a {
	font-weight: bold;
}
@media (min-width: 768px) {
	.przepisy-active {
		padding-right: 10px;
	}
}
.przepisy-hover img {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	z-index: 9;
}
.przepisy-hover:hover img {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	transform: scale(1.1);
}
.przepisy-title {
	position: absolute;
	left: 20px;
	bottom: 30px;
	color: #fff;
	font-size: 26px;
}
.przepisy-title strong {
	font-family: "milkshakeregular";
	text-shadow: 1px 1px 3px #777;
	display: block;
	font-size: 60px;
}
.przepisy-title span {
	margin-top: -10px;
	margin-left: 40px;
	display: block;
	text-shadow: 1px 1px 3px #777;
	line-height: 34px;
	font-size: 36px;
}
.przepisy-content p {
	margin: 0;
}
.przepisy-date {
	display: block;
	font-size: 18px;
	padding: 10px 0 5px;
}
.przepisy-more {
	vertical-align: bottom!important;
	text-align: right;
	margin-bottom: 15px;
}
.przepisy-more a,
.przepisy-more a:hover {
	color: #000;
}
.przepisy-small {
	padding-top: 30px;
}
.przepisy-small .przepisy-category-title {
	font-size: 24px;
}
.przepisy-small .przepisy-title strong {
	font-size: 45px;
}
.przepisy-small .przepisy-title span {
	margin-top: -15px;
	margin-left: 25px;
	line-height: 24px;
	font-size: 22px;
}
.pagination {
    border-radius: 0px;
    display: inline-block;
    margin: 15px 0;
    padding-left: 0;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: 0;
}
.pagination > li > a, .pagination > li > span {
    background-color: #eee;
    border: 0px solid #ddd;
	margin-left: 1px;
    margin-right: 1px;
	color: #000;
}
a.arrow-next-pagi {
	margin-left: 1px!important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    margin-left: 1px!important;
	background-color: #000;
    border-color: #000;
    color: #fff;
}
.pagination > li > a:hover {
    margin-left: 1px!important;
	background-color: #000;
    border-color: #000;
    color: #fff;
}
.przepisy-category {
	margin-bottom: 15px;
}	

@media (min-width: 768px) {
	.przepisy-category {
		padding-right: 20px;
	}	
}
@media (max-width: 768px) {
	.przepisy-category-title {
		padding: 5px 15px;
		font-size: 20px;
	}
	.przepisy-small .przepisy-title,
	.przepisy-title {
		font-size: 20px;
	}
	.przepisy-small .przepisy-title strong,
	.przepisy-title strong {
		font-size: 30px;
	}
	.przepisy-small .przepisy-title span,
	.przepisy-title span {
		margin-top: -10px;
		margin-left: 25px;
		line-height: 18px;
		font-size: 18px;
	}
}

.recipes-home-przepisy{
	background-repeat: repeat;
    background-size: 70% auto;
    padding: 5% 0;
}
@media(max-width:767px){
	.recipes-home-przepisy{
		background-repeat: repeat;
		background-size: 70% auto;
		padding: 5% 0 20%;
	}
}
.recipes-home-im

/* ------------------------------------------------------- Produkty -------------------------------------------- */

.category-box-padding {
	border: 10px solid transparent;
}

.center-div {
    display: flex;
    justify-content: center;
    text-align: center;
}
.row-centered {
	margin: 0px;
    text-align: center;
}
.col-centered {
    display: inline-grid;
    float: none;
}

/* ------------------------------------------------------- Kawiarnia -------------------------------------------- */

.recipes-home-coffee{
	background-repeat: repeat;
    background-size: 70% auto;
    padding: 5% 0;
}
@media(max-width:767px){
	.recipes-home-coffee{
		background-repeat: repeat;
		background-size: 70% auto;
		padding: 5% 0;
	}
}
.recipes-home-img-caffee{
	background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 50px;
    right: 35%;
}

.taxonomy-right .products-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.product_meta a{
	color: #000;
}
.single_add_to_cart_button{
	margin: 10px 0 !important;
}
.woocommerce table.shop_table{
	background-color: #fff;
}
.woocommerce .woocommerce-customer-details address{
	background-color: #fff;
}
.woocommerce ul.order_details{
	padding-left: 0;
}
.woocommerce .product_title{
	color: #000;
	padding: 0;
	font-weight: normal;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: #149347 !important;
}
.price_slider{
	margin-bottom: 1em;
}
.price_slider_amount {
	line-height: 2.4em;
	display: flex;
	flex-direction: column;
	font-size: 14px;
}
.price_slider_amount .button {
	font-size:1.15em;
	order: 1;
	margin-bottom: 10px !important;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 0.9em;
	height: 0.9em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
	background: #e7e7e7;
	background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#e7e7e7));
	background: -webkit-linear-gradient(#FEFEFE,#e7e7e7);
	outline: none;
	top: -.3em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}
.ui-slider .ui-slider-handle:last-child {
	margin-left: -1em;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size:.7em;
	display: block;
	border: 0;
	background: none repeat scroll 0 0 #ebe9eb;
	box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
	-webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
	-moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.price_slider_wrapper .ui-widget-content {
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	background: #1e1e1e;
	background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#6a6a6a));
	background: -webkit-linear-gradient(#1e1e1e,#6a6a6a);
}
.ui-slider-horizontal {
	height:.5em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
	background-color: #fff;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
	min-width: 200px;
}
.product-box a.button{
	background-color: #149347 !important;
	color: #fff !important;
	text-align: center !important;
	width: 100% !important;
	-webkit-font-smoothing: antialiased;
}
.woocommerce a.added_to_cart{
	display: block;
	text-align: center;
}
.woocommerce ul#shipping_method li {
	margin: 10px 0 !important;
}
.woocommerce form .form-row .checkbox input[type="checkbox"]{
	position: static !important;
}
#company_checkout_field .optional{
	visibility: hidden !important;
}
.current-cat > a{
	font-weight: bold;
}
.product-link ~ .product_type_simple:not(.ajax_add_to_cart) {
	height: 58px;
	align-items: center;
	line-height: 36px;
}

.product-title {
	height: 54px;
	overflow: hidden;
}
.woocommerce div.product div.images img{
	max-height: 392px;
	margin: auto;
	width: auto !important;
}
.product-box img{
	min-height: 150px;
	max-height: 150px;
	max-width: 100%;
	width: auto;
	margin: auto;
	display: block;
}
.mini-header-logo .glyphicon{
	margin-right: 5px;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
	color: #000 !important;
	background-color: #fff;
	padding: 30px;
}
.woocommerce-account .woocommerce-MyAccount-navigation > ul{
	padding-left: 0;
	list-style: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul .is-active a{
	font-weight: bold;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul a{
	padding: 7px 0;
	display: block;
}
#searchbox input[type="text"], #searchbox input[type="search"]{
	border: 1px solid #000;
	float: left;
	width: 75%;
	padding: 4px;
	height: 35px;
	font-size: 14px;
}
#searchbox button, #searchbox input[type="submit"]{
	float: left;
	border: 1px solid #000;
	padding: 4px;
	margin-left: 4px;
	background: #2e2e2e;
	color: #fff;
	font-size: 14px;
	height: 35px;
	width: calc(25% - 4px);
}
#searchbox:after{
	content: '';
	display: block;
	clear: both;
}
.product-categories{
	padding-left: 15px;
}
.woocommerce .columns-3 .col-lg-4{
	width: 33.33333333% !important;
}
.taxonomy-left__color #searchbox input[type="text"], .taxonomy-left__color #searchbox input[type="search"]{
	width: 70%;
}
.taxonomy-left__color #searchbox button, .taxonomy-left__color #searchbox input[type="submit"]{
	width: calc(30% - 4px);
}
@media(max-width: 768px){
	.mini-header-logo .logo-wrap{
		max-width: 50%;
		display: block;
	}
	.mini-header-logo ul{
		top: 0;
	}
	.mini-header-logo ul a{
		font-size: 13px;
	}
	.mini-header-logo .cart-items{
		margin-left: 5px;
		font-size: 13px;
	}
}